.todoitems {
    margin-top: 1em;
    margin-bottom: 1em;
}

.todoitems .newmark {
    color: white;
    background-color: red;
    font-weight: bold;
    padding: 0 1ex;
}

.feed-link img {
    vertical-align: bottom;
}

.address {
    text-align: center;
    font-style: italic;
}
